<div class="wrapper">
    <section class="banner" id="top">
      <h2 class="title">Kyle Snow</h2>
      <nav class="main-nav">
        <ul>
          <li class="btn">
            <a href="/">HOME</a>
          </li>
          <li class="btn">
            <a href="/about">ABOUT</a>
          </li>
          <li class="btn">
            <a href="/books">BOOKS</a>
          </li>
          <li class="btn">
            <a href="/authors">AUTHORS</a>
          </li>
          <li class="btn">
            <a href="/patrons">PATRONS</a>
          </li>
        </ul>
      </nav>
</div>
