<div class="wrapper">
    <section class="banner" id="top">
      <h2 class="title">Kyle Snow</h2>
      <nav class="main-nav">
        <ul>
          <li class="btn">
            <a href="projects.html">live examples</a>
          </li>
          <li class="btn">
            <a href="https://github.com/Ksnow13">Github</a>
          </li>
          <li class="btn">
            <a href="contact.html">Contact</a>
          </li>
        </ul>
      </nav>
</div>
