<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/banner.ejs') %>
    <h1>about page</h1>
    <h2>Welcome to the machine. What is it all about.</h2>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
