<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/banner.ejs') %>
    <div class="home-container">
      <h1>About</h1>
      <br />
      <p>QAP 3 semester 3 - Fullstack</p>
      <br />
      <p>
        The problem for this QAP3 is to build a simple user interface working
        with server and routes with a RESTful API against tables in a PostgreSQL
        database.
      </p>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
