<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/banner.ejs') %>
    <div class="home-container">
      <h1>Welcome</h1>
      <br />
      <p>
        Here is a website that acts like a library management system, by
        clicking on the links above you get access to a postgres database and it
        will display books, authors or patrons from the database straight to
        your screen. You can also do things such as add new data, edit/replace
        existing data or delete data. Feel free to click around.
      </p>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
