<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/banner.ejs') %>
    <h1>index page</h1>
    <h2 class="ee">Welcome to the index page.</h2>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
