<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/banner.ejs') %>
    <div class="home-container">
      <h1>Error</h1>
      <br />
      <p>
        <b>Sorry, no data was found for that route.</b>
      </p>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
